/* Font styles */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
}

/* main styles */

body {
  background-color: #f0f4fc;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mid-section {
  display: flex;
  justify-content: space-around;
  margin: 116px 9.5%;
}

#action-title{
  font-size: 42px;
  font-weight: 700;
  margin-bottom: -1px;
}

#action-desc {
  color: rgba(50, 36, 50, 0.5);
  font-size: 24px;
}

#live-pre{
  margin-top: 23px;
}

#wc-mini {
  border-radius: 48px;
  max-width: 403px;
  max-height: 328px;
}

/* head styles */

.header {
  background-image: url("../images/Hero-bg.png"); 
}

.core-text {
  text-align: center;
  font-size: 65px;
  font-weight: 650;
  margin-top: 208px;
}

#focus {
  margin-top: 37px;
  margin-bottom: 152px;
}

/* navigation styles */

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 7.5%;
  padding: 2% 0;
}

/* shared styles */

.link {
  text-decoration: none;
  font-weight: 560;
  font-size: 16px;
  background-color: #4E47FF;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 18px 36px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* logo */

#logo {
  font-size: 34px;
  font-weight: 900;
  color: #4E47FF;
}